<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.522055025991-52l80ebg7917h1mmfad75eh9khsuaklb</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Cafe24OhsquareAir-v2.0.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>아기의 사진을 일지에 추가하기 위해 사진 라이브러리에 접근합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>아기의 사진을 찍어서 일지에 추가하기 위해 카메라에 접근합니다.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>일정 알림을 보내기 위해 알림 권한이 필요합니다.</string>
</dict>
</plist>